</div>
</div>
<!--Footer-->
<footer class="bg-light text-lg-start">


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="#"></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script>
      function ondelete()
      {
        if(confirm("Do you want to delete?"))
        {
          return true;
        }
        else
        {
          return false;
        }
      }
    </script>
</body>
</html>