<%- include('partials/userheader.ejs') %>
<section class="text-center">
    <h4 ><strong>Pay now</strong></h4>
    </section>

<div class="row">
  <div class="col-md-6">
<a href="<%= link %>" class="btn btn-success" style="margin-bottom: 10px;">Make Payment Rs. <%= payment %></a>

    </div>

  
</div>
<%- include('partials/footer.ejs') %>